asgiref==3.11.1
Django==5.2.13
djangorestframework==3.17.1
djangorestframework-camel-case==1.4.2
dj-database-url==2.3.0
gunicorn==25.3.0
packaging==26.1
psycopg2-binary==2.9.12
python-dotenv==1.2.2
sqlparse==0.5.5
tzdata==2026.1
whitenoise==6.9.0
django-cors-headers==3.13.0
