asgiref==3.11.1
dj-database-url==3.1.2
Django==5.2.14
drf-spectacular
psycopg2-binary==2.9.12
sqlparse==0.5.5
tzdata==2026.2
python-dotenv==1.2.2
djangorestframework==3.17.1
djangorestframework-camel-case==1.4.2
gunicorn==25.3.0
whitenoise==6.9.0
packaging==26.1
